#sidebar {
  background-color: $color-blue-dark;
  display: none;
  height: 100%;
  overflow: auto;
  position: fixed!important;
  width: 245px;
  z-index: 1;

  &.animation-left {
    animation: animateleft 0.4s;
  }

  .sidebar-header {
    align-items: center;
    border-bottom: 1px solid $color-white;
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;

    img {
      width: 180px;
    }
  }

  .close {
    opacity: 1;

    span {
      color: $color-white;
    }
  }

  .organization {
    &-head {
      color: $color-gray-dark;
      font-size: 12px;
      padding: 10px 2rem;
      text-transform: uppercase;

      i {
        cursor: pointer;
      }
    }

    &-content {
      img {
        margin-right: .5rem;
        width: 12px;
      }

      &-link {
        color: $color-gray-dark;
        display: block;
        font-size: 14px;
        padding: 5px 2rem;

        &:hover {
          color: $color-white;
          text-decoration: none;
          background-color: $color-blue;
        }
      }

      &-head {
        color: $color-gray-dark;
        font-size: 11px;
        padding: 5px 2.5rem;
      }

      &-list {
        a {
          color: $color-white-alt;
          display: block;
          font-size: 11px;
          padding: 2px 2.5rem;
          text-transform: capitalize;

          &:hover {
            color: $color-white;
            text-decoration: none;
            background-color: $color-blue;
          }
        }
      }
    }
  }
}

#main {
  transition: margin-left .4s;
}


@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0;
  }

  to {
    left: 0;
    opacity: 1;
  }
}
