<div ng-controller="ShellController as vm">
  <section id="content" class="content">
    <div id="sidebar" class="animation-left" ng-include="'app/layout/sidebar.html'"></div>

    <div id="main">
      <header class="clearfix">
        <ht-top-nav navline="vm.navline"></ht-top-nav>
      </header>

      <div ui-view class="shuffle-animation"></div>

      <div ngplus-overlay ngplus-overlay-delay-in="50" ngplus-overlay-delay-out="700" ngplus-overlay-animation="dissolve-animation">
        <img src="images/busy.gif" />

        <div class="page-spinner-message overlay-message">{{vm.busyMessage}}</div>
      </div>
    </div>

  </section>
</div>
