<div ng-controller="SidebarController as vm">
  <ht-sidebar when-done-animating="vm.sidebarReady()">
    <div class="sidebar-header">
      <a href="/">
        <img src="images/respondent_logo.png" />
      </a>
      <button type="button" class="close" aria-label="Close" onclick="sidebar_close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="organization">
      <div class="organization-head d-flex justify-content-between align-items-center">Organizations <a href="/organizations"><i class="fa fa-plus" aria-hidden="true"></i></a>
      </div>
      <div class="organization-content" data-ng-repeat="item in vm.organizations">
        <a class="organization-content-link" href="/organizations/{{item.id}}"><img src="{{item.imageUrl}}" /> {{item.slug}}</a>
        <div class="organization-content-head">Projects</div>
        <div class="organization-content-list" data-ng-repeat="project in item.projects">
          <a href="/project/{{project.id}}">{{project.name}}</a>
        </div>
      </div>
    </div>
  </ht-sidebar>
</div>
