// GRID SYSTEM VARIABLES
$grid-distance: 12px;
$site-max-width: 1440px;

$breakpoints: (
  xs: 0,
  sm: 667px,
  md: 1024px,
  lg: 1200px
);

$color-white: #fff;
$color-blue: #24abd6;
$color-blue-dark: #253447;
$color-gray: #f9f9f9;

