// GRID SYSTEM VARIABLES
$grid-distance: 12px;
$site-max-width: 1440px;

$breakpoints: (
  xs: 0,
  sm: 667px,
  md: 1024px,
  lg: 1200px
);

$color-white: #fff;
$color-white-alt: #E0EFFB;
$color-black: #151b26;
$color-blue: #24abd6;
$color-blue-dark: #253447;
$color-gray-alt: #3d556b;
$color-gray: #f9f9f9;
$color-gray-dark: #9ca6af;
$color-red: #ff877c;

